.nav {
    background-color: lightblue;
    display: flex;
    padding: 1rem;
    font-size: 2rem;
}

.nav a {
    text-decoration: none;
}

.title {
    width: 20%;
    text-align: center;
}

.links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 30%;
    text-align: center;
}

.link {
    display: block;
}


a,
a:visited {
    color: black;
}

.nav .active {
    text-decoration: underline;
}
