.textEditor {
    border: 1px solid black;
    padding: 0.5em;
    margin-top: 1rem;
    min-height: 200px;
    background-color: whitesmoke;
}

.textEditor:focus {
    border-color: $russianviolet;
    outline: 0;

}

.textEditor {
    margin-top: 0px;
    padding-left: 20px;
    padding-right: 20px;
}

.document-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 300px;
}

.document-list button {
    margin: 0.2em;
}

.filename-btn,
.new-document{
    padding: 2px;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

.filename-btn,
.new-document {
    background-color: $purplenavy;
    border: none;
    color: white;
}

.filename-btn:hover,
.new-document:hover{
    background-color: $purplemajesty;
}
