.toolbar {
    // background-color: aquamarine;

    margin-bottom: 15px;
    margin-top: 15px;

    padding-bottom: 0.2em;
    padding-top: 0.2em;

    .tools {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;

        .filename {
            width: 150px;
        }

        .filename-btn {
            margin: 0.2em;
            width: 150px;
        }
    }
}

.document-list:nth-child(2) {
    margin-left: -5px;
}

.new-document {
    width: 150px;
    // background-color: darkcyan;
}


.dropdown-documents {
    width: 200px;
}

.dropdown-existing-document {
    background-color: darkorchidk;
}

@media (max-width: 980px) {
    .dropdown-documents {
        width: 150px;
    }

    .toolbar {
        flex-direction: row;
    }

    .trix-button-row {
        display: flex;
        flex-direction: column;

        .trix-button-group {
            display: flex;
            flex-wrap: wrap;
            margin-top: 0.2em;
        }

        .trix-button-group:not(:last-child) button {
            border-top-left-radius: 1px;
            border-top-right-radius: 1px;
            // margin-left: 2px;
            // margin-right: 2px;
            // margin-top: 2px;
            margin: 2px 2px 0px 2px;
        }
    }
}